.what-ssl{
    padding: 100px 0;
    @media (max-width: 768px) {
      padding: 40px 0;
    }
    .multimedia{
      img{
        width: 100%;
      }
    }
    .content{
      h3{
        color: $black;
        font-weight: 600;
        margin: 12px 0 20px 0;
      }
    }
}
